/* #content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#border {
  width: 200px;
  border: solid 2px black;
  padding: 20px;
} */

#container {
  width: 200px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box {
  width: 200px;
  height: 100px;
  background-color: orange;
}