#container div{
  width: 200px;
  height: 200px;
  border: solid 5px orange;
  box-sizing: border-box;
}

.box1{
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
}
.box2{
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
}
.box3{
  margin-left: auto;
  margin-right: auto;
}
.box4{
  /* 크기가 있어야 한다. */
  margin: 0 auto;
}
.box5{
  /* 약식 속성 */
  margin: 100px 10px 60px 80px;
}
