#grid-wrapper{
  display: grid;
  grid-template:
  "a a a a" 100px
  "b b c c" 100px
  "d e f g" 100px
  /100px 100px 100px 100px;
  gap: 4px;
}

.box{
  background-color: orange;
}
.box:nth-child(1){
  background-color: green;
  grid-area: a;
}

.box:nth-child(10){
  background-color: aqua;
}