/*
*  html5resetcss
*/

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
li{list-style: none;}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{text-decoration: none; margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}


/* 헤더 고정 영역 */

#kakao-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#kakao-wrap #nav-border {
  display: flex;
  justify-content: center;
  border-bottom: solid 1px #E5E5E5;
  width: 100%;

}
#kakao-wrap #nav { 
  width: 1280px;
  margin: 0 auto;
  display: flex;
  height: 50px; 
  justify-content: space-between;
  align-items: center;
}

#kakao-wrap #nav .sector {
  line-height: 48px;
  color : #E5E5E5;
}
#kakao-wrap #nav .right {
  display: flex; 
  padding : 0 0 0 24px;
}
#kakao-wrap #nav .left img{ width: 66px; }
#kakao-wrap #nav .icons img{ 
  width: 28px;
  padding: 10px;
 }
#kakao-wrap #nav .login { 
  padding: 0 0 0 28px;
}
#kakao-wrap #nav .login a{ 
  line-height: 48px; 
  font-size: 14px;
  color: #000;
}


/* 헤더 로고 영역 */
#kakao-header {
  border-bottom: solid 1px #E5E5E5;
  width: 100%;
  margin: 0 0 30px 0;
}

#kakao-header .logo-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 20px 0;
}

#kakao-header .logo-wrap img {
  width: 180px;
  padding: 30px 0 20px 0;
}

#kakao-header .logo-wrap p {
  font-size: 12px;
  color: #767676;
  text-align: center;
}

#kakao-header .category-wrap {
  width: 1280px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 0 12px 0;
}
#kakao-header .category-wrap .category {
  display: flex;
  align-items: center;
}
#kakao-header .category-wrap .category ul {
  display: flex;
  flex-direction: row;
}

#kakao-header .category-wrap .category ul li {
  list-style: none;
  font-size: 15px;
  padding-right: 35px;
}

#kakao-header .category-wrap .category ul li:first-child{
  font-weight: 900;
}


#kakao-header .search {
  display: flex;
  align-items: center;
  width: 218px;
  height: 34px;
  border: solid 1px #E5E5E5;
  border-radius: 2px;
}

#kakao-header .search input {
  width: 100%;
  border: none;
  padding: 0 12px;

}
#kakao-header .search img {
  padding: 0 12px;
  width: 22px;
}

/* 배너 영역 */
#banner {
  position: relative;
  width: 1280px;
  margin: 0 auto;
}
#banner .button .prev{
  position: absolute;
  top: 50%;
  left: 60px;
  width: 60px;
  height: 60px;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 40px;
  background-color: #fff;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, .04);
  transform: translateY(-50%);
  font-size: 30px;
}
#banner .button .next{
  position: absolute;
  top: 50%;
  right: 60px;
  width: 60px;
  height: 60px;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 40px;
  background-color: #fff;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, .04);
  transform: translateY(-50%);
}
#banner .button .prev img{
  width: 30px;
  height: 30px;
  margin: 0;
  background-position: -690px -230px;
  position: absolute;
  bottom: 14px;
  right: 15px;
}
#banner .button .next img{
  width: 30px;
  height: 30px;
  margin: 0;
  background-position: -690px -230px;
  position: absolute;
  bottom: 14px;
  left: 15px;
}
#contents {
  display: flex;
  flex-direction: column;
  width: 750px;
  margin: 0 auto 30px auto;
}

/* 컨텐츠 영역 */
#contents  .new-arrivals-wrap > p{
  font-size: 20px;
  color: #222;
  line-height: 26px;
  font-weight: 900;
  padding: 28px 0 18px 0;
}

#contents .product-wrap {
  display: flex;
  flex-direction: row;
  gap: 8px;
  overflow-y: hidden;
  overflow-x: scroll;
}
#contents .product-wrap .product{
  width: 150px;
  box-sizing: border-box;
  flex-shrink: 0;
}

/* 상품 이미지 */
#contents .product-wrap .product > img {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, .03);
  border-radius: 2px;
  padding: 0 0 20px 0;
}

/* 상품 타이틀  */
.product-title-wrap .product-title {
  font-size: 15px;
  color: #4c4c4c;
  margin: 0 0 8px 0;
}

.product-title-wrap .price{ 
  display: block;
  font-size: 17px;
  color: #111;
  margin: 0 0 6px 0;
}

.product-title-wrap .review {
  font-size: 13px;
  color: #999;
}



.product-title-wrap .sold{
  font-size: 11px;
  color: #6a727e;
  border-radius: 4px;
  background-color: #edf0f4;
  padding: 4px;
}

/* 리뷰 */
.product-title-wrap .review-wrap{
  margin: 0 0 10px 0;
}

#contents .product-wrap .product .review-wrap img {
  width: 12px;
}

/* 섹션 */
.section {
  border-bottom: 8px solid #f7f7f7;
  margin: 40px 0;
}


/* 서브 리스트 */
#contents .sub-menu-wrap ul{
  display: flex;
  flex-wrap: wrap;
}

#contents .sub-menu-wrap .list {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contents .sub-menu-wrap .list p{
  display: flex;
  font-size: 11px;
  color: #666;
  padding: 6px 0 0 0;
  margin-bottom: 18px;
}

#contents .sub-menu-wrap img {
  width: 54px;
  border-radius: 12px;
}


/* 베스트 섹션 */
#contents .best-wrap > p{
  font-size: 20px;
  color: #222;
  line-height: 26px;
  font-weight: 900;
  padding: 28px 0 18px 0;
}

#contents .best-wrap .best-image img {
  width: 156px;
  border: 1px solid rgba(0, 0, 0, .03);
  border-radius: 10px;
  padding: 0 0 20px 0;
}


#contents .best-product li {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

/* 베스트 리뷰 */
#contents .best-title-wrap .review-wrap{
  margin: 0 0 10px 0;
}

#contents .best-title {
  font-size: 15px;
  color: #4c4c4c;
  margin: 0 0 10px 0;
}


#contents .best-wrap .price {
  font-size: 18px;
  display: block;
  margin: 0 0 10px 0;
}

#contents .best-wrap .review {
  font-size: 13px;
  color: #999;
}

#contents .best-wrap .sold {
  font-size: 11px;
  color: #6a727e;
  border-radius: 4px;
  background-color: #edf0f4;
  padding: 4px;
}


#contents .best-button {
    display: block;
    height: 45px;
    margin: 0 18px 28px;
    border-radius: 5px;
    font-size: 14px;
    line-height: 45px;
    background-color: #f4f5f6;
    text-align: center;
    color: #333;
}












